h1, h2 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
  text-align: center;
  margin-bottom: 15px;
}

li {
  list-style: none;
}

.btn-default {
  font-size: 20px;
  margin-top: 20px;
}

nav {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, black, dodgerblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, black, dodgerblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, black, dodgerblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, black, dodgerblue); /* Standard syntax */
}

.col-md-4 {
  text-align: center;
}

.logo {
  padding-left: 15px;
}

ul {
  font-size: 20px;
  font-family: 'Archivo Black', sans-serif;
}

.page-header {
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, black, dodgerblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, black, dodgerblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, black, dodgerblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, black, dodgerblue); /* Standard syntax */
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
