body {
  background-image: url(intlchart.jpg);
  /*background-size: cover;*/
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p.main {
  font-size: 75px;
  /*font-family: 'Bungee Shade', cursive;*/
  font-family: 'Archivo Black', sans-serif;
  color: white;
  text-align: center;
  background: black;
  box-shadow: 0px -5px 10px 6px white;
  padding: 20px;
}

p.secondary {
  font-size: 30px;
  /*font-family: 'Bungee Shade', cursive;*/
  font-family: 'Archivo Black', sans-serif;
  color: white;
  text-align: center;
  padding: 15px;
}

p.subheader {
  font-size: 25px;
}

.top-header {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.user-buttons {
  text-align: center;
}

.login-button {
  background-color: black;
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: 35px;
  font-weight: bold;
  width: 300px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -5px -5px 18px 2px black
}

.register-button {
  background-color: black;
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: 35px;
  font-weight: bold;
  width: 300px;
  height: 60px;
  text-align: center;
  box-shadow: -5px -5px 18px 2px black
}

#greywrap {
  margin-top: 15px;
  padding-top: 20px;
  background:  dodgerblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black, dodgerblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, dodgerblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, dodgerblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, dodgerblue); /* Standard syntax */
}

h2 {
  font-size: 45px;
}

.col-lg-4 {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  font-size: 15px;
  color: white;
}
